/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "opensans";
	src: url("../fonts/opensans/opensans.eot");
	src: url("../fonts/opensans/opensans.eot?#iefix")format("embedded-opentype"),
	url("../fonts/opensans/opensans.woff") format("woff"),
	url("../fonts/opensans/opensans.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "opensansbold";
	src: url("../fonts/opensans/opensansbold.eot");
	src: url("../fonts/opensans/opensansbold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/opensans/opensansbold.woff") format("woff"),
	url("../fonts/opensans/opensansbold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RalewayLight";
	src: url("../fonts/RalewayLight/RalewayLight.eot");
	src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RalewayLight/RalewayLight.woff") format("woff"),
	url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "opensanssemibold";
	src: url("../fonts/opensans/opensanssemibold.eot");
	src: url("../fonts/opensans/opensanssemibold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/opensans/opensanssemibold.woff") format("woff"),
	url("../fonts/opensans/opensanssemibold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

